:root {
  /* Основные цвета */
  --белый: #ffffff;
  --черный: #000000;
  --кнопка: #3F9650;
  --плюс_навед: #95d09ccc;
  --кнопка_выбран_этаж: #D0E2CC;
  --фон: #a9b2a3cc;
  --черный50: #00000080;
  --серый: #797777;
  --кнопка_этажи: #F5FAF6;
  --темно_серый: #464D45;
}
